div(class=`${style['context-menu']}`) 
    each item in menuItems
        if item === 'hr'
            hr
        else 
            div 
                - var hasClass = item.iconClass || item.iconHTML
                if hasClass
                    span(class=`${style['menu-item-icon']}`)
                        if item.iconClass
                            i(class=`${item.iconClass}`)
                        if item.iconHTML
                            != item.iconHTML
                span=item.label

                if item.nestedMenu
                    span(class=`${style['nested-menu-arrow']}`) &#x203A;